<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">Sécheresses</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/" class="nav-link" >Accueil</a>
        </li>
        <li class="nav-item">
          <a href="/temoignages" class="nav-link" >Témoignages</a>
        </li>
        <li class="btn-group nav-item">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Ressources<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/zones-calcaires">Zone à risques : les régions à relief calcaire</a></li>
            <li><a href="/zones-socle">Zone à risques : les régions à roches socle</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/anticiper-le-changement-climatique">Sécheresses et changement climatique: les données scientifiques</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/aidez-nous" class="nav-link" >On va plus loin?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/qui-sommes-nous">Qui sommes-nous?</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
