<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="index.html">Sécheresses</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="index.html" class="nav-link" >Accueil</a>
        </li>
        <li class="nav-item">
          <a href="temoignages-penurie-eau-potable.html" class="nav-link" >Témoignages</a>
        </li>
        <li class="btn-group nav-item">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Ressources<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="zone-risque-relief-calcaire.html">Zone à risque : les régions à relief calcaire</a></li>
            <li><a href="zone-risque-roches-socle.html">Zone à risque : les régions à roches socle</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="tutoriel-anticiper-changement-climatique.html">Anticiper le changement climatique</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="a-vous-la-parole.html" class="nav-link" >J'aide!!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="qui-sommes-nous.html">Qui sommes-nous?</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
