#horizon li a {
  cursor: pointer;
}

#saison-conteneur label {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

#carte-container {
  position: relative;
  margin: 20px 0;
}

#carte-spinner {
	text-align: center;
	padding: 20px 0;
	height: 100%;
	width: 100%;
	position: absolute;
	background: rgba(255, 255, 255, .65);
	z-index: 9999;
}

#carte {
  width: 450px;
  min-width: 450px;
  height: 370px;
  min-height: 370px;
  margin-right: 40px;
  margin-bottom: 30px;
}

#carte-legende {
  min-width: 350px;
  max-width: 500px;
}

#carte-legende > div {
  display: flex;
  margin-bottom: 30px;
}

#carte-legende > div .color_box {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  flex: 0 0 20px;
  margin-right: 10px;
}

#carte-legende > div .legend {
  margin: 0;
  font-size: 14px;
}

#info-buttons {
  margin-top: 30px;
}

#info-buttons > div {
  text-align: center;
}

#info-buttons .btn {
  max-width: 350px;
  margin: auto;
}
